*{
    box-sizing: border-box;
}
body{

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    color: rgb(248, 248, 248);
    line-height: 1.6;
    font-family: 'Ubuntu', sans-serif;
    padding: 1em;
}
.a{
    color: #000;
}
.ff3{
    color: rgb(255, 255, 255);
}
.container{
    color: #ffffff;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
}
ul{
    list-style: none;
    padding: 0;
}
.brand{
    text-align: center;
}
.wrapper{
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.7);
}
.wrapper>*{
    padding: 1em;
}
.company-zero{
    background: #0000003a;
}
.company-zero h3, .company-zero ul{
    text-align: center;
    margin: 0 0 1rem 0;
}
.contact{
    background: #0000003a;
}
/*Form Styles*/
.contact form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.contact form label{
    display: block;
}

.contact form p{
    margin: 0;
}
.contact form .full{
    grid-column: 1/3;
}
.contact form button, .contact form input, .contact form textarea{
    width: 100%;
    padding: 1em;
    border: 1px solid #c9e6ff;
    border-radius: 5px;
}
.contact form button{
    background: #5e5e5e;
    border: 0;
    text-transform: uppercase;  
}
.contact form button:hover{
    background: #ffffff;
    color: #fff;
    outline: 0;
    transition: background-color 2s ease-out;
}
@media (min-width: 700px) {
    .wrapper{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
    .wrapper>*{
        padding: 2em;
    }
    .company-zero h3, .company-zero ul, .brand{
        text-align: left;
    }
}

.has-error{
    color: #ff0800;
}

.has-success{
    color: #00ff44;
}

